<h1>All Posts</h1>

<% @posts.each do |post| %>
  <div style="margin-bottom: 1rem;">
    <p><strong>Content:</strong> <%= post.content %></p>
    <% if user_signed_in? %>
      <p><strong>Author:</strong> <%= post.user.name %></p>
    <% else %>
      <p><em>Author: Secret</em></p>
    <% end %>
  </div>
<% end %>
